a{
    display: inline-block;
  width: auto;
  border: 2px solid #20638f;
  padding: 0.4em 0.6em;
  color: #20638f;
  text-decoration: none;
  font-weight: 800;
  font-size: 1em;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 10px;
}

#topnews{
    margin-right: 70%;
}