<div class="top-btn">
    <button (click)="clickAddNews()" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add News</button>
    <button routerLink="/login" class="btn btn-danger mx-2">Logout</button>
</div>
<div class="main">
<div class="articles" *ngFor="let row of newsData">
<figure class="snip1237">
    <div class="image">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample74.jpg" alt="sample74"/><i class="ion-ios-clock-outline"></i>
      <div class="date"><span class="day"></span><span class="month">{{row.date}}</span></div>
    </div>
    <figcaption>
      <h2>{{row.name}}</h2>
      <p>{{row.field}}</p>
      <span>{{row.author}}</span>
      <br>
      <button (click)="onEdit(row)" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="edit-btn">Edit</button>
      <button (click)="deleteNews(row)" class="btn btn-secondary" id="delete-btn">Delete</button>
    </figcaption>
  </figure>
</div>
</div>

  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">News Details</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formValue">
                <div class="mb-3">
                  <label for="exampleInputEmail1">Name</label>
                  <input type="text" formControlName="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1">Field</label>
                  <input type="text" formControlName="field" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1">Author</label>
                    <input type="text" formControlName="author" class="form-control" id="exampleInputPassword1">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1">Date</label>
                    <input type="text" formControlName="date" class="form-control" id="exampleInputPassword1">
                  </div>
              </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" *ngIf="showAdd" (click)="postNewsDetails()" class="btn btn-primary">Add</button>
          <button type="button" *ngIf="showUpdate" (click)="updateNewsDetails()" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
  </div>